
@font-face {
    font-family: "LogoFont";
    src: url(https://cdn.discordapp.com/attachments/941780399883960360/943569002322599956/Montebello-Bold.otf);
}

@font-face {
    font-family: "ClauFont";
    src: url(https://cdn.discordapp.com/attachments/933891151885381682/937106567508152350/Akrobat-Bold.otf);
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    letter-spacing: .03vw;
    width: 100%;
    height: 100%;
/* 
    background: #464646; */
}

.logoposition {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

.HUDUP {
    position: absolute;
    display: inline-flex;
    max-width: auto;
    width: auto;
    left: 35%;
    top: 2vh;

}

.HUDUP2 {
    position: absolute;
    display: inline-flex;
    max-width: auto;
    width: auto;
    left: 38%;
    top: 6vh;

}

.statusHUD {
    position: absolute;
    display: inline-flex;
    max-width: auto;
    width: auto;
    left: 35%;
    bottom: 2vw;
    font-size: 1vw;
    font-family: "ClauFont";
}

.datap span {
    font-family: "ClauFont";
    font-size: .9vw;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.637);
}
  
.datap i {
    font-size: .9vw;
}
  
.datap {
    padding: .2vw;
}

.PlayerMoney {
    
    position: absolute;
    right: 6vw;
    top: 2vw;
    justify-content: flex-end;
    font-family: 'Akrobat-Bold';
}

.moneyadd {

    font-size: 3vw;
    color: #A0E557;
    margin-right: 23px;
    position: relative;
    /* top: 2vw;
    right: 4vw; */
    max-width: auto;
    transition: all .5s;
    font-family: 'Akrobat-Bold';

}

[class="playerJOB"] {
    padding: .3vw;
    border-radius: .4vw;
    border-right: .2vw rgb(255, 255, 255) solid;
    background: linear-gradient(30deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.671) 100%);
}

.playerJOB span {
    color: white;
    min-width: auto;
    max-width: auto;
    height: 1.6vw;
    width: auto;
    text-align: left;
    font-size: 1vw;
}
  
.playerJOB i {
    font-size: 1vw;
    color: white;
}


[class="zone"] {
    display: none;
    /* position: absolute; */
    font-size: 1vw;
    padding: .5vw;
    background: rgb(0,0,0);
    border-radius: .4vw;
    top: 0vh;
    border-right: .2vw rgb(255, 255, 255) solid;
    background: linear-gradient(83deg, rgba(0,0,0,0) 0%, rgba(7,157,21,1) 100%);
}

.zone span {
    font-family: "ClauFont"; 
    color: white;
    min-width: auto;
    max-width: auto;
    height: 1.6vw;
    width: auto;
    text-align: left;
}
  
.zone i {
    font-size: 1vw;
    color: white;
}

[class="zoneX"] {
    font-size: 1vw;
    padding: .5vw;
    background: rgb(0,0,0);
    border-radius: .4vw;
    border-right: .2vw rgb(255, 255, 255) solid;
    background: linear-gradient(83deg, rgba(0,0,0,0) 0%, rgb(157, 7, 7) 100%);
}

.zoneX span {
    font-family: "ClauFont";
    color: white;
    min-width: auto;
    max-width: auto;
    height: 1.6vw;
    width: auto;
    text-align: left;
}
  
.zoneX i {
    font-size: 1vw;
    color: white;
    position: relative;
}

/* AMMON */

[class="ammo"] {
    position: relative;
    font-size: 1vw;
        
}   

.ammo h1 {

    font-family: "ClauFont";
    font-size: 1vw;
    color: white;
    position: relative;
    bottom: .7vw;
    text-align: left;
    display: inline-flex;
    background: rgb(0,0,0);
    border-radius: .4vw;
    padding: .58vw;
    border-right: .2vw rgb(255, 255, 255) solid;
    background: linear-gradient(30deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.671) 100%);

}


.ldBar path.mainline {
    stroke-width: 8;
    stroke: #D470FF;
    stroke-linecap: round;
    
}

.ldBar path.baseline {
    stroke-width: 5;
    stroke: #767991;
    stroke-linecap: round;
}

#co2 path.mainline {
    stroke: #D470FF;
}

[class="co2p"] {
    position: absolute;
    bottom: 0vw;
    left: 2.3vw;
    font-family: "ClauFont";
    font-size: .9vw;
    color: white;
    text-shadow: 0px .7px 1px rgba(0, 0, 0, 0.699);
}

[class="ico2"] {
    width: 1.5vw;
    height: 1.5vw; 
    position: absolute;
    bottom: .4vw;
    left: .4vw;
}

#vida path.mainline {
    stroke: #E5647B;
}

[class="vidap"] {
    position: absolute;
    bottom: 0vw;
    left: 2.3vw;
    font-family: "ClauFont";
    font-size: .9vw;
    color: white;
    text-shadow: 0px .7px 1px rgba(0, 0, 0, 0.699);
}

[class="ivida"] {
    width: 1.3vw;
    height: 1.3vw; 
    position: absolute;
    bottom: .5vw;
    left: .5vw;
}

#comida path.mainline {
    stroke: #E4B242;
}

[class="comidap"] {
    position: absolute;
    bottom: 0vw;
    left: 2.3vw;
    font-family: "ClauFont";
    font-size: .9vw;
    color: white;
    text-shadow: 0px .7px 1px rgba(0, 0, 0, 0.699);
}
  
[class="icomida"] {
    width: 1.3vw;
    height: 1.3vw; 
    position: absolute;
    bottom: .5vw;
    left: .5vw;
}

#agua path.mainline {
    stroke: #00ADFA;
}

[class="aguap"] {
    position: absolute;
    bottom: 0vw;
    left: 2.3vw;
    font-family: "ClauFont";
    font-size: .9vw;
    color: white;
    text-shadow: 0px .7px 1px rgba(0, 0, 0, 0.699);
}

[class="iagua"] {
    width: 1.3vw;
    height: 1.3vw; 
    position: absolute;
    bottom: .5vw;
    left: .5vw;
}

#stamina path.mainline {
    stroke: #E2E86F;
}

[class="staminap"] {
    position: absolute;
    bottom: 0vw;
    left: 2.3vw;
    font-family: "ClauFont";
    font-size: .9vw;
    color: white;
    text-shadow: 0px .7px 1px rgba(0, 0, 0, 0.699);
}

[class="istamina"] {
    width: 1.3vw;
    height: 1.3vw; 
    position: absolute;
    bottom: .5vw;
    left: .5vw;
}

#stress path.mainline {
    stroke: #520000;
}

[class="stressp"] {
    position: absolute;
    bottom: 0vw;
    left: 2.3vw;
    font-family: "ClauFont";
    font-size: .9vw;
    color: white;
    text-shadow: 0px .7px 1px rgba(0, 0, 0, 0.699);
}

[class="istress"] {
    width: 1.3vw;
    height: 1.3vw; 
    position: absolute;
    bottom: .5vw;
    left: .5vw;
}

#chaleco path.mainline {
    stroke: #4168FF;
}

[class="chalecop"] {
    position: absolute;
    bottom: 0vw;
    left: 2.3vw;
    font-family: "ClauFont";
    font-size: .9vw;
    color: white;
    text-shadow: 0px .7px 1px rgba(0, 0, 0, 0.699);
}

[class="ichaleco"] {
    width: 1.1vw;
    height: 1.1vw; 
    position: absolute;
    bottom: .6vw;
    left: .6vw;
}


.notifyposition {
    position: absolute;
    max-width: auto;
    width: auto;
    right: 2vw;
    top: 0vw;
    margin-top: 10vw;
}

.notify { /* Here you can change the position. */
    position: relative;
    top: 0vw;
}
  
.notification h1{
    font-size: 1vw;
    color: #72fd85;
    font-family: "ClauFont";
    text-shadow: 0vw 0vw 0vw rgb(0, 0, 0);
    position: relative;
    text-align: center;
    padding: .5vw .5vw 0vw .5vw;
}

    
.notification p {
    font-size: .8vw;
    color: rgb(255, 255, 255);
    font-family: "ClauFont";
    padding: 0vw .5vw .5vw .5vw;
    position: relative;
    text-align: center;
}
  
.notification {
    position: relative;
    max-width: 15vw;
    max-height: 10vw;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.719) 100%);
    border-right: .2vw solid #ffffff;
    margin-top: .5vw;
    border-radius: .4vw;
}


.mapa {
    position: absolute!important;
    bottom: 1.1vw!important;
    left: 2.1vw!important;
}

.mapborde {
    position: relative!important;
    width: 12.8vw!important;
    height: 12.8vw!important;
    -moz-border-radius: 50%!important;
    -webkit-border-radius: 50%!important;
    border-radius: 50%!important;
    border: .4vw solid #00ADFA;
    bottom: 1.5vw!important;
    left: 1.5vw!important;
  
}

.mapa img {
    position: absolute!important;
    width: 16.5vw!important;
    height: 16.5vw!important;
    transition: 1s!important;
    image-resolution: 300dpi!important;
    bottom: 0vw!important;
    left: 0vw!important;
}

.calleposition {
    position: absolute;
    bottom: 2vw;
    left: 17vw;
}

.calle {
    position: relative;
    display: inline-flex;
}

.calle img {
    width: 1.7vw;
    height: 1.7vw;
}

.calle h1 {
    margin-left: .2vw;
   font-family: ClauFont;
   font-size: 1vw;
   color: white;
}

/* .calle h2 {
   font-family: ClauFont;
   font-size: .8vw;
   color: rgba(255, 255, 255, 0.644);
} */



.microposition {
    position: absolute;
    right: 2vw;
    bottom: 2vw;
}

.micro {
    position: relative;
}

.micro img {
    width: 1.6vw; 
    height: 1.6vw;
}


.keybindsall {
    position: absolute;
    right: 2vw;
    top: 38vh;

}

.textito h1 {
    position: relative;
    font-size: .9vw;
    font-family: "ClauFont";
    color: white;
    right: 2vw;
    top: 0vh;
    text-align: right;
    margin: .5vw .5vw 1.4vw .5vw;
}

.keybinds {
    position: absolute;
    right: 0vw;
    top: 0vh;
}

.circulo {
    position: relative;
    border-radius: 1vw;
    height: 1.5vw;
    width: 1.5vw;
    border: .2vw solid rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0);
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-bottom: .5vw;
}

.circulo span {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: .8vw;
    font-family: "ClauFont";
}
 /* ------------------- */

.carposition {
    color: white;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
}

.carhud {
    position: relative;
}

#carhudjs path.mainline {
    stroke: #00ADFA;
    stroke-width: 6;
}

#carhudjs path.baseline {
    stroke: #000000;
    stroke-width: 5;
}

.velojs {
    position: absolute;
    bottom: 2vw;
    font-size: 3vw;
    font-family: "ClauFont";
    color: white;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}

.kmh {
    position: relative;
    top: 7.8vw;
    left: 1.8vw;
    font-size: .8vw;
    font-family: "ClauFont";
    color: rgb(168, 164, 164);
}

.mph {
    position: relative;
    top: 6.2vw;
    left: 1.8vw;
    font-size: .8vw;
    font-family: "ClauFont";
    color: rgb(168, 164, 164);
}
[class="igaso"] {
    position: relative;
    width: 1vw;
    height: 1vw;
    top: 9vw;
    left: 2.9vw;
}

.carhud h3 {
    position: absolute;
    bottom: 0vw;
    right: 2.8vw;
    font-size: .8vw;
    font-family: "ClauFont";
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}

[class="cinto"] {
    width: 1.1vw;
    height: 1.1vw;
    position: relative;
    right: 1.3vw;
    bottom: 2.3vw;
}

[class="motor"] {
    width: 1.1vw;
    height: 1.1vw;
    position: relative;
    right: 2.8vw;
    bottom: 2.2vw;
}

[id="vidamotor"] {
    width: 1.2vw;
    height: 1.2vw;
    position: relative;
    right: 0vw;
    bottom: 2.5vw;
    font-size: .8vw;
    color: white;
}

[class="motorjs"] {
    font-size: .6vw;
    font-family: "ClauFont";
    margin-left: .2vw;
}

.panelpo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[class="OpcionPanel"] {
    position: relative;
    width: 35vw;
    height: 30vw;
    background: rgba(0, 0, 0, 0.603);
    border-radius: 1vw;
    padding-left: 3vw;
    padding-right: 1vw;
    border-right: .2vw rgb(255, 255, 255) solid;
    position: absolute;

}

.bottonshowhide {
    position: relative;
    color: white;
    font-size: 1vw;
    height: 20vw;
    width: 18vw;
    top: 11vw;
    padding: 1vw 1vw 1vw 0vw;
}

.bottonshowhide img {
    position: relative;
    width: 1.5vw;
    height: 1.5vw;
    top: .4vw; 
    padding: 0vw .4vw 0vw 0vw;
}

.bottonshowhide2 {
    position: relative;
    color: white;
    font-size: 1vw;
    height: 20vw;
    width: 18vw;
    bottom: 10.5vw;
    left: 18vw;
    padding: 1vw 1vw 1vw 0vw;
}

.bottonshowhide2 i {
    position: relative;
    width: 1.5vw;
    height: 1.5vw;
    top: 0vw; 
    padding: 0vw 0vw 0vw .1vw;
}

.OpcionPanel h1 {
    position: absolute;
    font-size: .9vw;
    top: 1vw;
    color: #ffffff;
    font-family: "ClauFont";
   
}

.colortitles {
    position: relative;
    color: white; 
    font-family: "ClauFont";
    font-size: 1vw;
    top: 5vw;
}

.titlePanel {
    position: relative;
    color: white; 
    font-family: "ClauFont";
    font-size: 1vw;
    top: 1vw;
}

.styled {
    position: relative;
    top: 5.5vw;
    left: 0vw;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: .8vw;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "ClauFont";
    text-shadow: 1px 1px 1px #000;
    border-radius: .4vw;
    transition: all 0.5s;
    background-color: rgb(101, 142, 255);
 }

 .ColorPicker {
    position: absolute; top: 10vw;
}
.selection {
    position: relative; 
    border-radius: .4vw; 
    width: 8.5vw; 
    height: 2vw;
    background: rgb(255, 255, 255);
    border-style: none;
    color: rgb(139, 139, 139);
    text-align: center; 
    bottom: .4vw;
    font-size: .8vw;
    font-family: "ClauFont";
}

 .btn-sm {
     position: relative; 
     background-color: rgb(101, 142, 255);
     border-radius: .4vw; 
     bottom: .3vw;  
     height: 2vw; 
     width: 8vw;
     font-size: .8vw;
     color: rgb(255, 255, 255); 
     font-family: ClauFont;
 }

.styled:hover {background-color: #000000}

.styled:active {
  background-color: #000000;
  box-shadow: 0 1px rgb(101, 142, 255);
  transform: translateY(4px);
}

.Closemenu {
    position: absolute; 
    background-color: rgb(101, 142, 255);
    border-radius: .4vw; 
    bottom: 2vw; 
    right: 2vw; 
    height: 2vw; 
    width: 8vw;
    font-size: .8vw;
    color: rgb(255, 255, 255); 
    font-family: ClauFont;

}

.switch {
    position: relative;
    display: inline-block;
    width: 2.4vw;
    height: 1vw;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1vw;
  width: 1vw;

  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}